* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

@font-face {
    font-family: Inter;
    src: url(../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-image: url(assets/desktop/bg-image-daytime.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.black-bg {
    background-color: #0000005d;
}

.grid-container {
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 65px);
    column-gap: 30px;
    grid-template-rows: repeat(11, 60px);
    row-gap: 12px;
    margin: 0px 165px;
}

.quote-container {
    grid-column: 1 / 8;
    grid-row: 2 / 4;
    width: 90%;
}

#quote {
    grid-row: 2 / 3;
    grid-column: 1 / 7;
    margin-right: 16px;
    font-size: 1.125rem;
    color: #fff;
    line-height: 28px;
    width: auto;
}

#refresh-arrow {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
    color: #fff;
    width: 18px;
    height: 18px;
    align-self: flex-start;
    margin-top: 5px;
    transition: filter 0.2s;
}

#refresh-arrow:hover {
        cursor: pointer;
        filter: grayscale(100%) invert(100%) !important;
    }

#author {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    align-self: flex-start;
    font-size: 1.125rem;
    color: #fff;
    margin-top: 24px;
    font-weight: bold;
}

.welcome-text {
    grid-column: 1 / 7;
    grid-row: 7 / 8;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 28px;
    margin-bottom: 80px;
}

#icon {
    height: 24px;
    width: 24px;
    margin-right: 18px;
}

#actual-time {
    letter-spacing: 4px;
    grid-column: 1 / 7;
    grid-row: 7 / 9;
    height: auto;
    font-size: 12.5rem;
    font-weight: bold;
    letter-spacing: -5px;
    color: #fff;
}

#actual-zone {
    height: auto;
    width: auto;
    font-size: 2.5rem;
    font-weight: lighter;
    grid-row: 9 / 10;
    grid-column: 6 / 7;
    margin-left: 50px;
    color: #fff;
    align-self: flex-end;
}

.location {
    grid-column: 1 / 7;
    grid-row: 10 / 11;
    display: flex;
    align-items: flex-end;

}

#city {
    letter-spacing: 4px;
    line-height: 28px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}

.button {
    grid-column: 11 / 13;
    grid-row: 10 / 11;
}

#more-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #303030;
    font-weight: bold;
    height: 56px;
    width: 146px;
    padding: 20px;
    border-radius: 30px;
    border: none;
}

#arrow-down-container {
    background-color: #000000;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

#grey-container {
    display: none;
    width: auto;
    height: auto;
    background-color: #ffffffcd;
    grid-row: 7 / 12;
    grid-column: 1 / 12;
    padding: 80px 165px;
    flex-wrap: wrap;
    transform: translateY(-400px);
}

#grey-container h3 {
    margin-bottom: 9px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#grey-container span {
    font-weight: bold;
    font-size: 3.5rem;
    justify-self: flex-end;
}

#up-part {
    display: flex;
    justify-content: space-between;
    width: 844px;
    height: auto;
    padding-bottom: 60px;
}

#down-part {
    display: flex;
    justify-content: space-between;
    width: 844px;
    height: auto;
}

#current-timezone { 
    width: 70%;
    border-right: 1px solid black;
}

#day-year { 
    width: 70%;
    border-right: 1px solid black;
}